nav {
  width: 100%;
  background: #fff;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  flex-grow: 1;
  flex:0 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.standard-logo {
  vertical-align:middle;
  width: 32px;
}

.navbar-div {
  z-index: 99;
}

.faq-link, .apply-btn-link {
  text-decoration:none;
}

.team-title {
  border-bottom: 1px solid #eee;
}

.team-title-link{
  text-decoration: none;
  color: #444444;
  
}

a.team-title-link:hover{
  text-decoration: none;
  color: #ff1800;
}

.front-page {
  margin-top: 25%;
}

.faq-topper {
  height: 16rem;
}

.space-above-nav {
  height: 35rem;
}

.no-jobs{
  color: #ff1800;
}
.standard-logo {
  vertical-align:middle;
  width: 32px;
}
@media(max-width: 340px){
  .standard-logo {
    width: 15px;
  }
}
@media(max-width: 549px){
  .front-page {
    margin-top: 5%;
  }
  nav {
    height: 12.6rem;
    line-height: 3.3rem;
  }
  nav ul {
    flex-wrap: wrap;
  }
  .standard-logo {
    padding: 14px;
  }
  .topper{
    height: 15rem;
  }
  .apply-btn {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid #ff1800;
  }
  .bottom-img {
    margin-top: -2rem;
  }
}
@media(min-width: 550px){
  nav {
    height: 6.6rem;
    line-height: 6.3rem;
  }
  
  nav ul {
    flex-wrap: nowrap;
  }
  .topper {
    height: 10rem;
  }
  .apply-btn {
    text-align: right;
    border-bottom: none;
    padding-bottom: 0;
  }
  .bottom-img {
    margin-top: -12rem;
  }
}
