nav {
  width: 100%;
  height: 6.6rem;
  background: #fff;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  line-height: 6.3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  flex-grow: 1;
  flex:0 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.standard-logo {
  vertical-align:middle;
  width: 32px;
}

.navbar-div{
  z-index: 99;
}

.faq-link, .apply-btn-link{
  text-decoration:none;
}

.team-title{
  border-bottom: 1px solid #eee;
}

.team-title-col{
  color: #4D5056;
}

.front-page{
  margin-top: 25%;
}

.topper{
  height: 10rem;
}

.faq-topper{
  height: 16rem;
}

.bottom-img{
  margin-top: -12rem;
}

.apply-btn{
  text-align: right;
}

.space-above-nav{
  height: 30rem;
}
